---
layout: page
---

{% include lang.html %}

{% assign notes = site.posts | where_exp: 'post', 'post.path contains "/Notes/"' | sort: 'date' | reverse %}

<div id="notes">
  <ul class="content ps-0">
    {% for post in notes %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
