---
layout: page
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<style>
  #secret-container { text-align: center; padding: 20px 0; }
  #secret-controls { margin-bottom: 20px; }
  #secret-content { text-align: left; background-color: #a7a7ad; border: 1px solid #333; padding: 20px 40px; border-radius: 8px; color: #e2e2e2; }
  #secret-container input { font-size: 1em; padding: 10px; border-radius: 5px; border: 1px solid #555; background-color: #3d3d3d; color: #fff; }
  #secret-container button { font-size: 1em; padding: 10px 20px; border-radius: 5px; border: none; background-color: #007acc; color: white; cursor: pointer; }
  #secret-content h1, #secret-content h2, #secret-content h3 { color: #ccc; }
  #secret-content a { color: #3794ff; }
</style>

<div id="secret-container">
  <h2 id="page-title">Please enter the password</h2>
  <div id="secret-controls">
    <input type="password" id="password-input" placeholder="请输入密码...">
    <button id="decrypt-button">Decoder</button>
  </div>
  <div id="secret-content" style="display:none;"></div>
</div>

<div id="encrypted-content-data" style="display: none;">{{ content | strip }}</div>
<div id="page-title-data" style="display: none;">{{ page.title }}</div>

<script src="/assets/js/secret-loader.js" defer></script>